.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.headerRoutes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-image {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.card-image img {
  width: 100%;
  height: auto;
}
