@use '../base/global' as var;

.home-container {
  padding-top: 7vh;
  height: 100 vh;
  align-self: center;
  justify-self: center;
}

.homeHeading {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
}

.player {
  width: 20em;
}

.home-btn-r,
.home-btn-s {
  width: 20em;
  height: 3em;
  box-shadow: 0px 0px 3px 0px var.$dark-blue;
  font-weight: bold;
}

.home-btn-r {
  background-color: var.$blue;
  color: white;
  border: none;

  &:hover {
    color: white !important;
    border-color: var.$blue ;
  }
}

.home-btn-s {
  border: 2px solid var.$blue;
  color: var.$blue;

  &:hover {
    color: var.$blue !important;
    border: 3px solid var.$blue !important;
  }
}