@use "../base/global" as g;

.backgroundHome {
  background-image: url("../../../../public/img/map-outlines/Homepage\ -\ map\ lines.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.homeHeading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 3em;
}

.player {
  margin-top: 0;
  width: 20em;
}

.home-btn-r,
.home-btn-s {
  width: 20em;
  font-weight: bold;
}
.home-btn-r {
  background-color: g.$blue;
  color: white;

  &:hover {
    color: white !important;
    border: none;
  }
}
.home-btn-s {
  border: 3px solid g.$blue;
  color: g.$blue;

  &:hover {
    color: g.$blue !important;
    border: 3px solid g.$blue !important;
  }
}
