@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$poppins: 'Poppins', sans-serif;

$phone: 480px;
$tablet: 769px;
$desktop: 1025px;

// Colors
$dark-blue: #203C74;
$light-blue: #03A0E3;
$blue: #067EB6;
$orange: #F88A3F;
$dark-yellow: #EDBE40;
$light-yellow: #FDECB9;
$red: #F5482B;
$dark-green: #2A7835;
$light-green: #4EAA64;



body {
    font-family: $poppins;
}

h1 {
    letter-spacing: 0.06em;
}

h1,
h2 {
    font-weight: 600;

}

h3,
h4 {
    font-weight: 400;
}

h5,
h6 {
    font-weight: 200;
}